/*html,button,input,select,textarea{*/
/*  color: #444;*/
/*}*/
/*@page {*/
/*  size: A4;*/
/*  margin: 0;*/
/*}*/
/*html{*/
/*  font-size: 1em;*/
/*  !*line-break: 1.4em;*!*/
/*  background-color: #777;*/


/*}*/
/*.wrapper {*/
/*  max-width: 900px;*/
/*  min-width: 320px;*/
/*  margin: auto;*/
/*}*/
/*body{*/

/*  text-align: center;*/
/*  font-family: 'Merriweather', serif;*/
/*  font-size: 16px;*/
/*  font-weight: normal;*/
/*  !*color: #40514E;*!*/
/*  width: 70%;*/
/*  margin :auto;*/
/*  !*height: 100px;*!*/



/*}*/
/*#experiences{*/
/*  line-height: 15px;*/
/*}*/


/*header{*/
/*  border-radius: 3px;*/
/*  !*background-color: #F4F3EE;*!*/
/*  box-shadow: 0  2px 4px rgba(0, 0, 0, .2);*/
/*  !*padding: 10px;*!*/
/*  margin: auto;*/
/*  height: 190px;*/
/*  !*width: 80%;*!*/
/*  background-color: white;*/
/*}*/

header h2 {
  margin-top: 0;
}
header h1 {
  /*margin: 10px auto 0 auto;*/
  font-family: 'Sacramento', cursive;
  font-size: 50px;
  color: black;
  display: inline;
 /* position: relative;*/
 /*right: 200px;*/
}
/*formation h2{*/
/*  font-family: 'Merriweather', serif;*/
/*}*/


/*img{*/
/*  border-radius: 50%;*/
/*  width: 180px;*/
/*  height: 180px;*/
/*  float: right;*/
/* margin-right: 3px;*/
/*  margin-top: 3px;*/
/*}*/
/* #description {*/

/*  text-align: left;*/
/*   width: 50%;*/
/*  margin: 20px;*/
/*   font-family: 'Sacramento', cursive;*/


/*}*/
/*li{*/
/*  list-style: none;*/

/*}*/

/*.grid-item h2 {*/
/* text-align: left;*/



/*}*/
/*h3 , h4{*/
/*  color: white;*/
/*  font-family: 'Source Sans Pro', sans-serif;*/
/*  font-size: 28px;*/
/*  font-weight: 400;*/
/*  !*line-height: 10px;*!*/
/*  margin: 0 0 24px;*/
/*  text-align: left;*/
/*}*/

/*p , dd ,li { color: #4c4a37; font-family: 'Source Sans Pro', sans-serif; font-size: 18px;  }*/

/*a {*/
/*  width:100px;*/
/*  text-decoration: none;*/
/*  color: white;*/
/*}.*/

/*footer{*/
/*  text-align: center;*/
/*   height: 70px;*/
/*   background-color: #BCB8B1;*/
/*}*/

/*.fa {*/
/*  padding: 10px;*/
/*  font-size: 30px;*/
/*  width: 50px;*/
/*  text-align: center;*/
/*  text-decoration: none;*/
/*  margin: 10px;*/


/*}*/
/*!* Facebook *!*/

/*!*article{*!*/

/*!*  color: black;*!*/
/*!*  text-align: left;*!*/
/*!*}*!*/
/*!*.grid-item h2{*!*/
/*!*  text-align: left;*!*/
/*!*  font-family: 'Sacramento', cursive;*!*/
/*!*  color: #7e9c97;*!*/
/*!*  padding: 10px;*!*/
/*!*}*!*/
/*#experiences h3{*/

/*}*/
/*.grid-container {*/
/*  !*background-color: #BCB8B1;*!*/
/*  display: grid;*/
/*  grid-template-columns: auto auto;*/
/*  grid-auto-columns: auto;*/
/*  padding: 10px;*/
/*  height: 80%;*/

/*}*/
/*.grid-item {*/

/*  padding: 20px;*/
/*  font-size: 30px;*/
/*  text-align: left;*/
/*  height: auto;*/
/*  !*text-align: left;*!*/
/*}*/
/*!*.grid-container {*!*/
/*!*  display: inline-grid;*!*/
/*!*}*!*/
/*#read-more{*/
/*display: none;*/
/*}*/
html , button , input , select , textarea {
  color: #444;
}

html {
  font-size: 1em;
  line-height: 1.4;
  background-color: #f0efeb;
  font-family: asul, sans-serif;

}

#wrapper {
  max-width: 900px;
  min-width: 320px;
  margin: auto;


}

header{
  border-radius: 3px;
  color: #8a8181 ;
  background-color: #fff1e6;
  box-shadow: 0  2px 4px rgba(0, 0, 0, .2);
  padding: 10px;
}

header h2 {
  margin-top: 0;
}
header h1 {
  margin:0
}

img{
  border-radius: 50%;
  width: 180px;
  height: 180px;
  float: right;
 margin-right: 3px;
  margin-top: 3px;
}
 #description {

  text-align: left;
   width: 50%;
  margin: 20px;
   font-family: 'Sacramento', cursive;


}

section h2 {
  border-bottom: 1px solid black;
}

a {
  width:100px;
  text-decoration: none;
  color: white;
}

footer{
  text-align: center;
}

footer .fa{
  font-size: 30px;
  margin: 10px 20px;
}

/*.fa-facebook {*/
/*  background: #3B5998;*/
/*  color: white;*/
/*  width: 50px;*/
/*}*/

/*.fa-twitter {*/
/*  background: #55ACEE;*/
/*  color: white;*/
/*  width: 50px;*/
/*}*/
/*.fa-linkedin {*/
/*  background: #3B5998;*/
/*  color: white;*/
/*  width: 50px;*/
/*}*/

.btn-container{
  margin: auto;
  height:44px;
  width:166.23px;
  position: relative;
  left: -350px;


}
#text{
  display: none;
}
button{
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  cursor:pointer;
  border:none;
  padding:8px;
  font-size:20px;
  background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color:white;
  font-family:cursive;
  box-sizing:border-box;
  float: left;
}


.tooltip {
  position: relative;
  display: inline;
  /*border-bottom: 1px dotted black; !* If you want dots under the hoverable text *!*/
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.stars {
visibility: hidden;
}